<main class="main">
    <div class="login-form">
        <h2 class="heading-secondary ma-bt-lg">Create your account</h2>
        <form #signUpForm="ngForm" (ngSubmit)="createAccount(signUpForm)" class="form form--login">
            <div class="form__group">
                <label class="form__label" for="name">Name</label>
                <input class="form__input" id="name" type="text" placeholder="name" required="required"
                    name="name" [(ngModel)]="name" />
            </div>
            <div class="form__group">
                <label class="form__label" for="email">Email address</label>
                <input class="form__input" id="email" type="email" placeholder="you@example.com" required="required"
                    name="email" [(ngModel)]="email" />
            </div>
            <div class="form__group ma-bt-md">
                <label class="form__label" for="password">Password</label>
                <input class="form__input" id="password" type="password" placeholder="••••••••" required="required"
                    minlength="8" name="password" [(ngModel)]="password" />
            </div>
            <div class="form__group ma-bt-lg">
                <label class="form__label" for="password-confirm">Confirm password</label>
                <input class="form__input" id="password-confirm" type="password" placeholder="••••••••"
                    required="required" minlength="8" name="passwordConfirm" [(ngModel)]="passwordConfirm" />
            </div>
            <div class="form__group">
                <button class="btn btn--green">Sign Up</button>
            </div>
        </form>
    </div>
</main>