<header class="header">
    <nav class="nav nav--tours">
        <a class="nav__el" href="/">All tours</a>
    </nav>
    <div class="header__logo">
        <img src="../assets/img/logo-white.png" alt="Natours logo" />
    </div>
    <nav class="nav nav--user">
        <a class="nav__el nav__el--logout" [hidden] = "hideLogOut">Log out</a>
        <a class="nav__el" href="/me" [hidden] = "hideMe">
            <img class="nav__user-img" src="/img/users" alt="Photo of " />
            <span>username</span>
        </a>
        <a class="nav__el" routerLink="login" [hidden] = "hideLogIn">Log in</a>
        <a class="nav__el nav__el--cta" [hidden] = "hideSignUp" href="#">Sign up</a>
    </nav>
    <!-- <a class="btn btn-outline-primary m-1" routerLink = "signup" [hidden] = "hideSignUp"> Sign Up </a>
    <a class="btn btn-outline-primary m-1" routerLink = "signin" [hidden] = "hideSignIn"> Sign In </a>
    <a class="btn btn-outline-primary m-1" [hidden] = "hideLogOut" (click) = "logOut()"> Log Out </a>
   -->
</header>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="footer__logo">
        <img src="../assets/img/logo-green.png" alt="Natour logo" />
    </div>
    <ul class="footer__nav">
        <li>
            <a href="#">About us</a>
        </li>
        <li>
            <a href="#">Download apps</a>
        </li>
        <li>
            <a href="#">Become a guide</a>
        </li>
        <li>
            <a href="#">Careers</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
    <p class="footer__copyright">&copy; by Jai Samtani.</p>
</footer>


<!-- <main class="main">
    <div class="error">
        <div class="error__title">
            <h2 class="heading-secondary heading-secondary--error">Uh oh! Something went wrong! </h2>
            <h2 class="error__emoji">😢 🤯</h2>
        </div>
        <div class="error__msg"></div>
    </div>
</main> -->